.banner {
  background-size: cover;
  background-position: center;
  opacity: 15%;
  background-color: red;
}
.image {
  background-image: url("/small.png");
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
