@tailwind base;
@tailwind components;
@tailwind utilities;

.stickyNav {
  position: sticky;
  top: 0;
  animation: bounce 1s ease-in-out;
  width: 100%;
}

@keyframes bounce {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0);
  }
}
.ant-btn {
  background: rgb(252, 97, 13);
}

.ant-upload-list-item-container {
  width: 150px !important;
  height: 150px !important;
}

.ant-upload-select {
  width: 150px !important;
  height: 150px !important;
}
