@tailwind base;
@tailwind components;
@tailwind utilities;

.stickyNav {
  position: sticky;
  top: 0;
  animation: bounce 1s ease-in-out;
  width: 100%;
}

@keyframes bounce {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0);
  }
}
